/* app.css */
body {
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
}

#root {
  width: 450px;
  padding: 15px;
  margin: 40px auto 100px;
}

.header {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

form {
  border: thin solid #ddd;
  border-top: solid 4px #ddd;
  border-radius: 5px;
  background-color: #fbfbfb;
  padding: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.card {
  border: thin solid #ddd;
  border-top: solid 4px #ddd;
  background-color: #fbfbfb;  
  margin-bottom: 20px;
}

.no-record-txt {
  text-align: center;
  font-weight: bold;
  color: #cacaca;
}

.github-profile {
  margin: 1rem;  
  display: inherit;
}

.github-profile img {
  width: 80px !important;
  height: 80px !important;
}

.github-profile .info {
  display: inline-block;
  margin-left: 12px;
}

.github-profile .name {
  font-size: 1.25rem;
  font-weight: bold;
}

.remove-card {
  position: absolute;
  top: 0;
  right: 10px;
  padding: .75rem .75rem;
  color: inherit;  
}